@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

#root {
  background-color: theme(colors.neutral.800);
  color: theme(colors.neutral.100);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 64px;
}

thead .attendee,
.attendee:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.5);
}

.attendee > * {
  border-bottom: 1px solid theme(colors.neutral.600);
  border-right: 1px solid theme(colors.neutral.600);
}
